h1 {
	text-align: center;
	font-size: 24px;
	color: #343a40;
}

body {
	background-color: white;
	font-family: Arial, sans-serif;
}

.btn-primary {
	padding: 10px;
	border-radius: 5px;
	background-color: #007bff;
	border: none;
	transition: background-color 0.3s ease;
	display: block;
	margin: auto;
}

.btn-primary:hover {
	background-color: #0056b3;
}

.btn-delete:hover {
	background-color: #F3545F;
}

.btn-delete {
	padding: 10px;
	border-radius: 5px;
	background-color: #F9747E;
	border: none;
	transition: background-color 0.3s ease;
	display: block;
	margin: auto;
}

.button {
	display: flex;
	justify-content: center;
}

.site-identity h1 {
	font-size: 30px;
	font-weight: 600;
	margin-top: 20px;
}

.footer {
	margin-top: 207px !important;
}

.container h1 {
	text-align: center;
	margin-top: 30px;
	font-size: 36px;
	color: #3c6e71;
}

.container h2 {
	color: #3c6e71;
	margin-top: 20px;
	font-size: 28px;
}

.container p {
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	color: #555;
	margin: 10px 0;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;
	background-color: #f6f5f4;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	border: 0.5px solid black;
}

.feature-list {
	margin-top: 30px;
}