
h1 {
	text-align: center;
	font-size: 24px;
	color: #343a40;
}
body {
	background-color: white;
	font-family: Arial, sans-serif;
}

.btn-primary {
	padding: 10px;
	border-radius: 5px;
	background-color: #007bff;
	border: none;
	transition: background-color 0.3s ease;
	display: block;
	margin: auto;
}


.btn-primary:hover {
	background-color: #0056b3;
}

.btn-delete:hover {
	background-color: #F3545F;
}

.btn-delete {
	padding: 10px;
	border-radius: 5px;
	background-color: #F9747E;
	border: none;
	transition: background-color 0.3s ease;
	display: block;
	margin: auto;
}

.button{
	  display: flex;
  justify-content: center;
}

.site-identity h1 {
  font-size: 30px;
  font-weight: 600;
  margin-top:20px; 
}

img{
	height:50%;
	width:45%;
}

.image-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.footer{
	margin-top:150px !important;
}

